.dropdown-filtered {

  .filtered-input {
    display: block !important;
    padding: 0 5px;
    margin-bottom: 5px;

    input {
      background: @gray-dark;
    }

    span.empty-result {
      display: none;
      padding: 0 15px;
      padding-top: 5px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #ccc;
      white-space: nowrap;
      cursor: default;
    }
  }

  li[data-filtered="false"] {
    display: none;
  }
}

.dropdown {

  .filtered-input {
    display: none;
  }
}