//
// Scrollalble container
// --------------------------------------------------

.scrollable-container {
  position: relative;
  overflow: hidden;
  background: @table-bg;

  .scrollable-data {
    width: 100%;
    height: 100%;
  }

  .scrollable-data.jspScrollable {
  	padding-right: 10px;
  }
}
